-- Keep 124 tickers, delete everything else
-- Run this in Supabase SQL Editor

-- Step 1: Delete from price_history_long (~3.4M rows to delete)
DELETE FROM price_history_long WHERE ticker NOT IN ('AAPL', 'AAVE-USD', 'ABBV', 'ABT', 'ACN', 'ADA-USD', 'ADBE', 'AIG', 'AMAT', 'AMD', 'AMGN', 'AMZN', 'APT-USD', 'ARB-USD', 'ATOM-USD', 'AVAX-USD', 'AVGO', 'AXP', 'BA', 'BAC', 'BK', 'BKNG', 'BLK', 'BMY', 'BNB-USD', 'BRK.B', 'BTC-USD', 'C', 'CAT', 'CHTR', 'CI', 'CL', 'CMCSA', 'COF', 'COP', 'COST', 'CRM', 'CSCO', 'CVS', 'CVX', 'DE', 'DHR', 'DIS', 'DOGE-USD', 'DOT-USD', 'DUK', 'EMR', 'ETH-USD', 'EXC', 'F', 'FDX', 'FIL-USD', 'GD', 'GE', 'GILD', 'GM', 'GOOG', 'GOOGL', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'INTU', 'ISRG', 'JNJ', 'JPM', 'KHC', 'KO', 'LIN', 'LINK-USD', 'LLY', 'LMT', 'LOW', 'LTC-USD', 'MA', 'MCD', 'MDLZ', 'MDT', 'MET', 'META', 'MO', 'MRK', 'MS', 'MSFT', 'NEAR-USD', 'NEE', 'NFLX', 'NKE', 'NOW', 'NVDA', 'OP-USD', 'ORCL', 'PEP', 'PFE', 'PG', 'PGR', 'PM', 'PYPL', 'QCOM', 'RTX', 'SBUX', 'SCHW', 'SLB', 'SO', 'SOL-USD', 'SPG', 'T', 'TGT', 'TMO', 'TMUS', 'TSLA', 'TXN', 'UNH', 'UNP', 'UPS', 'USB', 'USDT-USD', 'V', 'VZ', 'WFC', 'WMT', 'XOM', 'XRP-USD');

-- Step 2: Delete from stock_info
DELETE FROM stock_info WHERE ticker NOT IN ('AAPL', 'AAVE-USD', 'ABBV', 'ABT', 'ACN', 'ADA-USD', 'ADBE', 'AIG', 'AMAT', 'AMD', 'AMGN', 'AMZN', 'APT-USD', 'ARB-USD', 'ATOM-USD', 'AVAX-USD', 'AVGO', 'AXP', 'BA', 'BAC', 'BK', 'BKNG', 'BLK', 'BMY', 'BNB-USD', 'BRK.B', 'BTC-USD', 'C', 'CAT', 'CHTR', 'CI', 'CL', 'CMCSA', 'COF', 'COP', 'COST', 'CRM', 'CSCO', 'CVS', 'CVX', 'DE', 'DHR', 'DIS', 'DOGE-USD', 'DOT-USD', 'DUK', 'EMR', 'ETH-USD', 'EXC', 'F', 'FDX', 'FIL-USD', 'GD', 'GE', 'GILD', 'GM', 'GOOG', 'GOOGL', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'INTU', 'ISRG', 'JNJ', 'JPM', 'KHC', 'KO', 'LIN', 'LINK-USD', 'LLY', 'LMT', 'LOW', 'LTC-USD', 'MA', 'MCD', 'MDLZ', 'MDT', 'MET', 'META', 'MO', 'MRK', 'MS', 'MSFT', 'NEAR-USD', 'NEE', 'NFLX', 'NKE', 'NOW', 'NVDA', 'OP-USD', 'ORCL', 'PEP', 'PFE', 'PG', 'PGR', 'PM', 'PYPL', 'QCOM', 'RTX', 'SBUX', 'SCHW', 'SLB', 'SO', 'SOL-USD', 'SPG', 'T', 'TGT', 'TMO', 'TMUS', 'TSLA', 'TXN', 'UNH', 'UNP', 'UPS', 'USB', 'USDT-USD', 'V', 'VZ', 'WFC', 'WMT', 'XOM', 'XRP-USD');

-- Step 3: Verify counts
SELECT
  (SELECT COUNT(*) FROM stock_prices) as stock_prices,
  (SELECT COUNT(*) FROM stock_price_history) as stock_price_history,
  (SELECT COUNT(*) FROM price_history_long) as price_history_long;
